@import url(//db.onlinewebfonts.com/c/1bb28440d44596129c2c67bb9f94eae3?family=Bauhaus+Hv+BT);

@media (min-width: 700px){
    .main-container{
        
        background-color: #3D087B;
        display: flex;
        /* justify-content: space-between; */
        height: 834px;
        overflow: hidden;
    }
        
    .leftside{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: end; */
        box-sizing: border-box;
        width: 50%;
        padding-left: 5%;
    }

    #picture{
        position: relative;
        top: 15px;
        left: 99px;
    }

    /* .text1{
        margin: 10px;
        overflow: hidden;
    } */
        
        
    .schedule{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        overflow: hidden;
        margin-top: 0px;
        margin-left: 0;
        margin: 5%;
        padding: 1%;
        width: 566px;
        height: 360px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        opacity: 1;
    }
        
    #wake-up{
        box-sizing: border-box;
        margin-top: 34px;
        margin-left: 20px;
        width: 34px;
        height: 34px;
        background: 0% 0% no-repeat padding-box;
        opacity: 1;
    }
        
    #wake-up + span {
    
        position: relative;
        top: -12px;
        margin-left: 20px;
        text-align: center;
        font: normal normal normal 18px/28px Manrope;
        letter-spacing: 0px;
        color: #3D087B;
        opacity: 1;
    }
        
    .sel{
        position: relative;
        top: -10px;
        left: 50px;
        width: 281px;
        height: 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEDED;
        border-radius: 4px;
        opacity: 1;
    }
        
    .ph{
        align-items: center;
        justify-content: space-between;
        position: relative;
        top: 5px
    }
        
    #lunchTime{
        position: relative;
        left: 70px;
    }
        
    #napTime{
        position: relative;
        left: 85px;
    }
        
    #nightTime{
        position: relative;
        left: 73px;
    }
        
    .stick{
        position: relative;
        height: 8px;
        left: 37px;
        font-size: xx-large;
        color: rgb(197, 192, 185);
    }
        
        
    
    .gm{
        position: relative;
        top: 485px; 
        right: 738px;
        padding-left: 1px;
        margin: 1vw;
        margin-bottom: .5vw;
        box-sizing: border-box;
        width: 566px;
        height: 77px;
        background: #4b138cde 0% 0% no-repeat padding-box;
        border: 1px solid #4b138cde;
        border-radius: 10px;
    }

        
        #font{
        width: 381px;
        height: 34px;
        text-align: center;
        font-size: x-large;
        font-family: Bauhaus Hv BT;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        }

        .time{
            display: flex;
            position: relative;
            top: 600px;
            right: 1200px;
        }
        
        #bottoml{
            
            height: 80px;
        }
        
        .button{
        box-sizing: border-box;
        justify-content: center;
        position: relative;
        top: 6px;
        left: -117px;
        width: 285px;
        height: 50px;
        background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
        border-radius: 7px;
        opacity: 1;
        font-family: Manrope;
        font-size: x-large;
        color: #EDEDED;
        }
        
        .button:hover{
            border-radius: 8px;
            cursor: pointer;
        }
        
        #bottomr{
        display: flex;
        justify-content: center;
        text-align: left;
        position: relative;
        top: -7px;
        left: -105px;
        width: 253px;
        height: 117px;
        background: #4b138cde 0% 0% no-repeat padding-box;
        border: 1px solid #4b138cde;
        border-radius: 10px;
        opacity: 1;
        padding-right: 15px;
        color: #F25CFE;
        line-height: 23px;
        }
        
        .rightside{
            width: 200px;
            box-sizing: border-box;
            margin-left: -1080px;
            margin-top: 15px;
            /* padding-left: 100px; */
            
        }
        
        .box1{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* bottom: 720px; */
        /* left: 706px; */
        width: 536px;
        height: 130px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        z-index: 3;
        opacity: 100;
        /* padding: 200px; */
        
        }
        
        .box2{
        position: relative;
        top: -115px;
        margin-left: 45px;
        /* left: 759px; */
        width: 460px;
        height: 130px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 10px;
        z-index: 2;
        opacity: .90;
        }
        
        .box3{
        position: relative;
        top: -230px;
        margin-left: 80px ;   
        width: 392px;
        height: 130px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 8px;
        z-index: 1;
        opacity: .30;
        }
        
        .nrm{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -4%;
        text-align: left;
        font: normal normal 600 20px/32px Manrope;
        letter-spacing: 0px;
        color: #3D087B;
        text-transform: uppercase;
        opacity: 1;
        }
        
        .st{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        background-image: url(./images/timeline.png);
        width: 80px;
        height: 90px;
        background: #F6E2FF;
        margin-left: 4px;
        margin-right: 4px;
        }
        
        .bgt{
        position: relative;
        left: 20px;
        top: -3px;
        font-size: 40px;
        color: #5F0089;
        opacity: 1;
        
        }
        
        .bgtm{
        position: relative;
        left: 18px;
        top: 11px;
        font-size: larger;
        color: #5F0089;
        opacity: 1;
        
        }
        
        .colan{
            display: flex;
            align-items: center;
            justify-content: center;
        }   
        
        .wT{
        position: relative;
        font-size: 40px;
        padding-top: 25px;
        color: black;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 80px;
        height: 90px;
        background: #F6E2FF;
        margin-left: 10px;
        margin-right: 4px;
        background-image: url(./AMimageb.svg);
        }
        
        #grab{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        bottom: 200px;
        /* left: 706px; */
        width: 536px;
        height: 118px;
        border:1px solid #FFFFFF;
        border-radius: 5px;
        background: white;
        font-family: Bauhaus Hv BT;
        color: #8E53F0;
        font-size: 30px;
        }
        
        #img{
            display: inline-block;
            box-sizing: border-box;
        }
        
        #imgM{
            position: relative;
            bottom: 126px;
            /* left: 600px; */
            width: 520px;
            height: 334px;
        
        }
}
@media (max-width: 719px){
    .main-container{
        margin-top: -5px;
        margin-left: -4px;
        width: 497px;
        /* height: 400px; */
        background: 0% 0% no-repeat padding-box;
        opacity: 1;
        background-color: #3D087B;
        /* overflow: hidden; */
        }
        
        img{
        margin-top: 7px;
        margin-left: 44px;
        width: 204px;
        height: 77px;
        background:  0% 0% no-repeat padding-box;
        opacity: 1;
        }
        
        #text{
            position: absolute;
        margin-left: -103px;
        margin-top: 17px;
        width: 150px;
        height: 50px;
        /* background:  0% 0% no-repeat padding-box; */
        opacity: 1;
        }

        .leftside{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* justify-content: end; */
            box-sizing: border-box;
            width: 50%;
            padding-left: 4%;
           
        }
        
        .schedule{
        /* display: flex;
        flex-direction: column; */
        margin-top: 30px;
        margin-left: -9px;
        width: 395px;
        height: 345px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        opacity: 1;
        overflow: hidden;
        }
        
        #wake-up{
        margin-top: 34px;
        margin-left: 20px;
        width: 34px;
        height: 34px;
        background: 0% 0% no-repeat padding-box;
        opacity: 1;
        }
        
        #wake-up + span {
        position: relative;
        top: -12px;
        margin-left: 20px;
        text-align: center;
        font: normal normal normal 18px/28px Manrope;
        letter-spacing: 0px;
        color: #3D087B;
        opacity: 1;
        }
        
        .sel{
        position: relative;
        top: -10px;
        left: 43px;
        width: 135px;
        height: 19px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEDED;
        border-radius: 4px;
        opacity: 1;
        }
        
        .ph{
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        
        #lunchTime{
            position: relative;
            left: 70px;
        }
        
        #napTime{
            position: relative;
            left: 85px;
        }
        
        #nightTime{
            position: relative;
            left: 73px;
        }
        
        .stick{
            position: relative;
            height: 8px;
            left: 37px;
            font-size: xx-large;
            color: rgb(197, 192, 185);
        }
        
        
        
        .gm{
        position: relative;
        top: 18px;
        left: 9px;
        width: 387px;
        height: 77px;
        background: #4b138cde 0% 0% no-repeat padding-box;
        border: 1px solid #4b138cde;
        border-radius: 10px;
        }
        
        #font{
        top: 549px;
        left: 149px;
        width: 381px;
        height: 34px;
        text-align: center;
        font-size: x-large;
        font-weight: 700;
        font-family: Bauhaus Hv BT;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        }
        
        #bottoml{
            display: flex;
            align-items: center;
            box-sizing: border-box;
        }
        
        .button{
        position: relative;
        top: 30px;
        left: 40px;
        width: 345px;
        height: 50px;
        background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
        border-radius: 7px;
        opacity: 1;
        font-family: Manrope;
        font-size: x-large;
        color: #EDEDED;
        }
        
        .button:hover{
            border-radius: 8px;
            cursor: pointer;
        }
        
        #bottomr{
        display: flex;
        justify-content: center;
        text-align: left;
        position: relative;
        top: 43px;
        left: 33px;
        width: 341px;
        height: 117px;
        background: #4b138cde 0% 0% no-repeat padding-box;
        border: 1px solid #4b138cde;
        border-radius: 10px;
        opacity: 1;
        padding-right: 15px;
        color: #F25CFE;
        line-height: 23px;
        }
        
        .rightside{
            width: 200px;
            box-sizing: border-box;
            margin-left: 70px;
        }
        
        .box1{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: -57px;
        left: -64px;
        width: 400px;
        height: 123px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        z-index: 3;
        opacity: 100;
        
        }
        
        .box2{
        position: relative;
        bottom: 61px;
        left: -48px;
        width: 370px;
        height: 130px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 10px;
        z-index: 2;
        opacity: .95;
        }
        
        .box3{
        position: relative;
        bottom: 182px;
        left: -31px ;   
        width: 340px;
        height: 130px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 8px;
        z-index: 1;
        opacity: .30;
        }
        
        .nrm{
        display: none;
        align-items: center;
        justify-content: center;
        position: relative;
        left: -4%;
        text-align: left;
        font: normal normal 600 20px/32px Manrope;
        letter-spacing: 0px;
        color: #3D087B;
        text-transform: uppercase;
        opacity: 1;
        }
        
        .st{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        background-image: url(./images/timeline.png);
        width: 80px;
        height: 90px;
        background: #F6E2FF;
        margin-left: 4px;
        margin-right: 4px;
        }
        
        .bgt{
        position: relative;
        left: 20px;
        top: -3px;
        font-size: 40px;
        color: #5F0089;
        opacity: 1;
        
        }
        
        .bgtm{
        position: relative;
        left: 18px;
        top: 11px;
        font-size: larger;
        color: #5F0089;
        opacity: 1;
        
        }
        
        
        
        .colan{
            display: flex;
            align-items: center;
            justify-content: center;
        }   
        
        .wT{
        position: relative;
        font-size: 40px;
        padding-top: 25px;
        color: #FFFFFF;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 80px;
        height: 90px;
        background: #F6E2FF;
        margin-left: 10px;
        margin-right: 4px;
        background-image: url(./AMimageb.svg);
        }
        
        #grab{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        position: relative;
        bottom: 153px;
        left: -58px;
        width: 387px;
        height: 86px;
        border:1px solid #FFFFFF;
        border-radius: 5px;
        background: white;
        font-family: Bauhaus Hv BT;
        color: #8E53F0;
        font-size: 23px;
        }
        
        #img{
            display: inline-block;
            box-sizing: border-box;
        }
        
        #imgM{
            position: relative;
            bottom: 133px;
            left: -100px;
            width: 386px;
            height: 246px;
        
        }
}
